.bg-darkgreen {
    background-color: #005813;
}

.bg-lightgray {
    background-color: #c0c0c0;
}

.bg-darkgray {
    background-color: #303030;
}

.text-lightgray {
    color: #c0c0c0;
}

.navbar-darkgray .navbar-brand {
  color: #c0c0c0;
}

.navbar-darkgray .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #c0c0c0;
}

.navbar-darkgray .navbar-nav .nav-link {
  color: rgba(192, 192, 192, 0.5);
}

.navbar-darkgray .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(192, 192, 192, 0.75);
}

.navbar-darkgray .navbar-nav .nav-link.disabled {
  color: rgba(192, 192, 192, 0.25);
}

.navbar-darkgray .navbar-nav .show > .nav-link,
.navbar-darkgray .navbar-nav .active > .nav-link,
.navbar-darkgray .navbar-nav .nav-link.show,
.navbar-darkgray .navbar-nav .nav-link.active {
  color: #c0c0c0;
}

.navbar-darkgray .navbar-text {
  color: rgba(192, 192, 192, 0.5);
}

.navbar-darkgray .navbar-text a {
  color: #c0c0c0;
}

.navbar-darkgray .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #c0c0c0;
}

.btn-darkgreen {
  color:rgba(192, 192, 192, 0.75);
  background-color: #005813;
  border-color: #c0c0c0;
}

.btn-darkgreen:hover {
  color: #f0f0f0;
  background-color: #005813;
}

body {
  background-color: #303030;
}

h1, h2 {
  text-align: center;
  color: #a8a8a8; 
}

hr {
  background-color: #c0c0c0;
}

.card-darkgray {
  background-color: #404040;
  color: #c0c0c0;
  text-align: center;
  border: 1px solid #c0c0c0;
  margin-left: 2px;
  margin-right: 2px;
}

.card-code .gist-data {
  height: 50%;
  max-height: 25rem;
  overflow: auto;
}

.card-code .gist-meta {
  display: none;
}

.carousel-inner .card-code{
  margin: auto;
  max-width: 73%;;
  margin-bottom: 3rem;
}

@media (min-width: 768px) { /* For "md" and above */
  .self-card {
    width: 18rem;
  }
}

@media (max-width: 767px) { /* For "sm" and below */
  .self-card {
    width: 100%;
    margin: auto;
    margin-bottom: 0.5rem;
  }
  .center-small {
    text-align: center;
  }
  .center-small p {
    text-align: left;
  }
}

