<nav class="navbar navbar-expand navbar-darkgray bg-darkgreen sticky-top">
    <a class="navbar-brand" href="/index.html" title="Dakota Blackwell's Online Portfolio">
        <img id="navbar_pic" src="/img/logo.svg" height="50" alt="Dakota Blackwell">
        <span class="d-none d-md-inline">Dakota Blackwell's Online Portfolio</span>
    </a>
    <ul class="navbar-nav ml-auto">
        <li id="AboutMe" class="nav-item">
            <a class="nav-link" href="/index.html" title="About Me">
                <span class="d-inline d-md-none"><i class="far fa-address-card h4"></i></span>
                <span class="d-none d-md-inline">About Me</span>
            </a>
        </li>
        <li id="SampleCode" class="nav-item">
            <a class="nav-link" href="/samplecode.html" title="Sample Code">
                <span class="d-inline d-md-none"><i class="fas fa-code h4"></i></span>
                <span class="d-none d-md-inline">Sample Code</span>
            </a>
        </li>
    </ul>
</nav>